/* reset the page */

@font-face {
  font-family: "Avenir";
  src: url("./fonts/AvenirLTStd-Book.otf");
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;

  &__black-top {
    width: 100vw;
    height: 35vh;
    background: #000000;
  }

  &__black-bottom {
    width: 100vw;
    height: 25vh;
    background: #000000;
    clip-path: polygon(0 0, 0 0, 50% 100%, 100% 0);
  }

  &__logo {
    position: absolute;
    top: 3vw;
    left: 4vw;
  }
}

.main {
  width: 800px;
  position: absolute;
  top: 3vw;
}

.vid-chat {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__controller {
    height: 35px;
    background: #272626;
    display: flex;
  }

  &__time {
    color: #979797;
    width: 70px;
    padding: 0 5px;
    border-right: 1px solid #c0c0c0;
    margin: auto 10px;
  }

  &__participants {
    width: 50%;
  }

  &__container {
    margin: 0 0 20px 0;
    display: flex;
    justify-content: space-between;
  }

  &__label {
    color: #ffffff;
    font-size: 16px;
    margin: 0 20px;
  }

  &__add-user {
    background: none;
    color: #979797;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__add {
    width: 21px;
    height: 21px;
    margin: 0 0 0 10px;
  }

  &__users {
    display: flex;
    justify-content: flex-end;
  }
}

.vid-btn {
  width: 35px;
  height: 35px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &--red {
    background: #c52c47;
    border-radius: 4px;
  }

  &__img {
    width: 30px;
    height: 30px;
  }
}

.user {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    width: 100px;
    height: 100px;
  }

  &__name {
    color: #ffffff;
    font-size: 13px;
    margin: 10px 0 0 0;
  }
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    background: #ffffff;
    width: 100%;
    height: 400px;
    padding: 25px 50px;
    margin: 20px 0 0 0;
    box-shadow: 10px 10px 10px #b4b4b442;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__stretch-info {
    color: #5367fa;
    font-size: 13px;
  }

  &__pose-info {
    font-size: 20px;
  }

  &__timer {
    color: #5367fa;
    font-size: 40px;
  }

  &__pose {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__pose-img {
    width: 320px;
    height: 220px;
    object-fit: contain;
  }

  &__controller {
    margin: 18px 0 40px 0;
    display: flex;
    align-items: center;
  }

  &__btn {
    background: none;
    border: none;
    outline: none;
  }

  &__icon {
    width: 34px;
    height: 34px;

    &--large {
      width: 44px;
      height: 44px;
      margin: 0 30px;
    }
  }
}
